body {
    font-size: 18px;
}
header, footer{
background-color: pink
}
.site-title{
    color: white 
}
#my-image {
    box-shadow: 0px 0px 2px 1px black
}
ul {
    list-style-type: square;
}
li:nth-child(1){
    background-color: palevioletred;
}
a{
    text-decoration: none;
}
nav{
    background-color: lightblue;
    border-style:solid;
    border-color:rgb(165, 119, 206)
}
a:link{
    color:rgb(59, 135, 216)
}
a:visited{
    color:rgb(11, 170, 249)
}
a:hover{
   color:rgb(118, 147, 210) 
}
a:active {
    color:darkslategray
}